html, body
{
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
    bottom: 0px;
    left: 362px;
    position: absolute;
    right: 0px;
}

.legend-box{
    background: #FFF;
    border-radius: 3px;
    height: 100%;
    line-height: 30px;
    padding: 20px;
    width: 340px;

}
.legend-box ul li {
    font-size: 18px;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

img.logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

ul.checkboxes {
    list-style-type: none;
    padding-left: 20px;
}